/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #e0e0e0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Form Styles */
form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 9px 9px 16px #121212, -9px -9px 16px #262626;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #e0e0e0;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f0f0f0;
    color: #000000;
    box-shadow: inset 4px 4px 8px #d1d1d1, inset -4px -4px 8px #ffffff;
}

button {
    width: 100%;
    padding: 10px;
    background: #1e1e1e;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #121212, -4px -4px 8px #262626;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background: #007bff;
    box-shadow: 4px 4px 8px #0056b3, -4px -4px 8px #009fff;
}